<h1> Today <%= @concert.band %> is playing in <%= @concert.venue %>, <%= @concert.city %> </h1>
<h2> About <%= @concert.band %> </h2>

<p><%= @concert.description %> </p>

<%= link_to "Back to the home page", concerts_path %>






	